<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['../query']">
      <ion-icon name="arrow-back-circle-outline" style="color: white; font-size: xx-large;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
        <h1 style="color: white;">{{cate}}</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor = "let qna of qnas">
      <ion-card color="light" (click)="openModal(qna.id)">
        <ion-card-title style="padding: 15px;">
          {{qna.question}}
          
        </ion-card-title>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
