<ion-content>
  <ion-img style="width: 50vw; padding-top: 20%; display: block; margin:auto;" src="../../assets/icon/uc.png">
  </ion-img>
  <ion-img class="chilun" style="width: 50vw; display: block; margin:auto; zoom: 1.5;" src="../../assets/icon/rolling.gif">
  </ion-img>
  <ion-row >

    <ion-col class="password">
      <ion-row>
        <ion-img style="width: 30vw; display: block; margin:auto;" src="../../assets/icon/changePassword.PNG" ></ion-img>
      </ion-row>
      <ion-row style="padding-top: 5%;">
        <ion-button fill="clear" style=" display: block; margin:auto;"
          (click)="presentToast('If you want to change your password, simply press the button to do so within a few steps!')">
          <ion-img src="../../assets/icon/question.png"></ion-img>
        </ion-button>
      </ion-row>
    </ion-col>

    <ion-col class="selfHelp">
      <ion-row>
        <ion-img style="width: 30vw; display: block; margin:auto;" src="../../assets/icon/selfHelp.PNG" [routerLink]="['../query']">
        </ion-img>
      </ion-row>
      <ion-row style="padding-top: 5%;" >
        <ion-button fill="clear" style=" display: block; margin:auto;" (click)="presentToast('Need any help? 
Press the button to look for your questions even ask for manual help!')">
          <ion-img src="../../assets/icon/question.png"></ion-img>
        </ion-button>
      </ion-row>
    </ion-col>

  </ion-row>
</ion-content>