<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-img style="width: 65vw; padding-top: 20%; display: block; margin:auto;" src="../../assets/icon/logo.png"></ion-img>
  <ion-item>
    <ion-label position="floating" color="primary" style="font-size: larger;">Email</ion-label>
    <ion-input type="text" color="light" [(ngModel)]="email" placeholder="Please Enter Your Email Here"></ion-input>
  </ion-item>
    <ion-img style="height: 75px; width: 75px;" src="../assets/icon/fasong.png" (click)="forgetPassword()"></ion-img>
</ion-content>
