<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-title style="color:white">LIVE CHAT</ion-title>

    <ion-buttons slot="end">
      <ion-button style="color:white" (click)="end()">
        end
      </ion-button>
    </ion-buttons>



  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let message of messages" style="padding-top: 1vh;">

    <div class="bubble" *ngIf="message.reply === true" >
      {{message.content}}
    </div>
   <br>
    <div class="bubble2" *ngIf="message.reply === false">
      {{message.content}}
    </div>
    <br>

  </div>




</ion-content>

<ion-footer>
  <ion-toolbar style="--border-width:2px; --background: #9B908E">
    <ion-item style="--border-radius: 20px 20px 20px 20px;padding-left: 2vw;--background: white">
      <ion-input color="black" type="text" required [(ngModel)]="input"></ion-input>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="clickSend()">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>