<ion-content class="select">
<p class="enterWord" style="text-align: center;">Could I know...<br>   What is your problem about?</p>

<ion-row style="padding-top: 20%;">
  <ion-col class="ion-justyfy-content-center">
    <div class="circle fade"  (click)="clickGo('UC Account Issue')">
    <ion-img style="width: 12vw; display: block; margin:auto; padding-top: 8%;" src="../../assets/icon/account.png"></ion-img>
    <h4 style="text-align: center;">UC Account Issue</h4>
  </div>
  </ion-col>
  <ion-col>
    <div class="circle fade"  (click)="clickGo('UC App Settings')">
      <ion-img style="width: 12vw; display: block; margin:auto; padding-top: 8%;" src="../../assets/icon/chilun.png"></ion-img>
      <h4 style="text-align: center;">UC App <br> Settings</h4>
    </div>
  </ion-col>
</ion-row>

<ion-row style="padding-top: 10%;">
  <ion-col class="ion-justyfy-content-center">
    <div class="circle fade" (click)="clickGo('Phone Calling Issue')">
    <ion-img style="width: 12vw; display: block; margin:auto; padding-top: 8%;" src="../../assets/icon/call.png"></ion-img>
    <h4 style="text-align: center;">Phone Calling Issue</h4>
  </div>
  </ion-col>
  <ion-col>
    <div class="circle fade" (click)="clickGo('Data Related')">
      <ion-img style="width: 12vw; display: block; margin:auto; padding-top: 8%;" src="../../assets/icon/data.png"></ion-img>
      <h4 style="text-align: center;">Data Related</h4>
    </div>
  </ion-col>
</ion-row>

<ion-row style="padding-top: 10%;">
  <ion-col class="ion-justyfy-content-center">
    <div class="circle fade" (click)="clickGo('Wallet & Purchase')">
    <ion-img style="width: 12vw; display: block; margin:auto; padding-top: 8%;" src="../../assets/icon/wallet.png"></ion-img>
    <h4 style="text-align: center;">Wallet & Purchase</h4>
  </div>
  </ion-col>
  <ion-col>
    <div class="circle fade" [routerLink]="['../waitroom']" >
      <ion-img style="width: 12vw; display: block; margin:auto; padding-top: 8%;" src="../../assets/icon/other.png"></ion-img>
      <h4 style="text-align: center;">Other Issues</h4>
    </div>
  </ion-col>
</ion-row>
</ion-content>
