<ion-content>
<p class="enterWord" style="text-align: center;">Could I know...<br>   What is your problem about?</p>

<ion-row style="padding-top: 20%;">
  <ion-col class="ion-justyfy-content-center">
    <div class="circle" >
    <ion-img style="width: 12vw; display: block; margin:auto; padding-top: 8%;" src="../../assets/icon/account.png"></ion-img>
    <h4 style="text-align: center;">UC Acoount Issue</h4>
  </div>
  </ion-col>
  <ion-col>
    <ion-img style="width: 30vw; display: block; margin:auto;" src="../../assets/icon/account.png"></ion-img>
  </ion-col>
</ion-row>
</ion-content>
